body {
    background-color: #86b3dc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 250px;
    height: 150px;
}

button{
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: opacity 0.2s;
    font-weight: 500;
}

h2 {
    color: darkblue;
    font-size: 20px;
    margin-bottom: 10px;
}

.minutes-label {
    font-size: 12px;
    color: darkblue;
    margin-right: 5px;
}

#minutes {
    width: 70px;
    font-size: 16px;
    text-align: center;
    height: 27px;
}

#start {
    color: white;
    background-color: green;
}
#reset {
    color: white;
    background-color: red;
}

.container {
    text-align: center;
    padding: 50px;
}   