body {
    background-color: aqua;
    color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;

    width: 250px;
    height: 150px;
}

button{
    height: 30px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}